:root {
    --main-color: #2196F3;
    --black-color: #212121;
    --white-color: #ffffff;
    --hero-color: #2F303A;
    --grey-color: #757575;
    --section-color: #F5F4FA;
    --adress-color: rgba(255, 255, 255, 0.6);

}


body {
    font-family: 'Roboto', sans-serif;
    color: var(--black-color);
    background-color: var(--white-color);
    letter-spacing: 0.03em;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--black-color);
}
.logo > span {
    color: var(--main-color);
}
.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-main a {
    color: var(--black-color);
}
.nav-contact a {
    color: var(--grey-color);
}
.nav a:hover {
    color: var(--main-color);
}


.nav a[class="active"] {
    color: var(--main-color);
}


.hero {
    background-color: var(--hero-color);
}
.hero-font {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}
.hero-button {
    padding: 10px 32px;
    color: var(--white-color);
    background-color: var(--main-color);
    font-size: 16px;
    line-height: 30px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

}
.hide {
    height: 0px;
    width: 0px;
    visibility: hidden;
}
.advantage li h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.advantage li p {
    color: var(--grey-color);
    font-size: 14px;
    line-height: 1.71;
}
.h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.our-comand {
    background-color: var(--section-color);
}
.our-comand h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.our-comand p {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}
.footer-dark {
    background-color: var(--hero-color);
}
.footer-dark address>span {
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-color);
}
.footer-dark address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.171;
    color: var(--adress-color);
}
.portfolio-btn button{
    padding: 6px 22px;
    color: var(--black-color);
    background-color: var(--section-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.portfolio-btn button:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}
.portfolio-cards h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-cards p {
    font-size: 16px;
    line-height: 1.87;
    color: var(--grey-color);
}